<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    </head>
    <body>
        <h1>Let's fake some data!</h1>
        <a href="/fake/userprofile/" class="btn">Create a fake user!</a>
        <a href="/fake/experience/" class="btn">Create a fake experience!</a>
        <a href="/fake/organization/" class="btn">Create a fake organization!</a>
        <a href="/fake/tag/" class="btn">Create a fake tag!</a>
        <br />
        <h2>Users:</h2>
        {% for user in users %}
            <a href="/fake/userprofile/?id={{ user.pk }}">{{ user.first_name }} {{ user.last_name }}</a>
            <br />
        {% endfor %}
        <br />
        <h2>Organization:</h2>
        {% for org in organizations %}
            <a href="/fake/organization/?org_id={{ org.pk }}">{{ org.name }}</a>
            <br />
        {% endfor %}
        <h2>Experiences:</h2>
        {% for exp in experiences %}
            <a href="/fake/experience/?experience_id={{ exp.pk }}">{{ exp.user.first_name }} {{ exp.title }}</a>
            <br />
        {% endfor %}
    </body>
</html>