* { 
    margin:0; 
    padding:0;
}

html, body {
    width: 100%; 
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

canvas { 
    display: block;
}

.splash-container {
    position: absolute;
    left: 50%;
    width: 100%;
}

.splash-pane {
    height: auto;
    min-height: 200px;
    padding: 50px;
    background-color: #ff6140;
    left: -50%;
    margin-top: 80px;
    z-index: 999;
    position: relative;
}

.splash-row {
    width: 90%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.splash-block {
    float: left;
    width: 48%;
}

.splash-pane h1 {
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 50px;
}

.splash-title {
    margin: 20px;
    display: block;
}

.splash-pane .splash-title .subtitle {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    top: -45px;
    color: white;
    text-align: right;
    float: right;
    margin-right: 45px;
}

.splash-pane p {
    margin-top: 70px;
    font-family: 'Oxygen', sans-serif;
    color: white;
}

.splash-pane .button {

    background-color: white;
    padding: 25px;
    font-family: 'Oxygen';
    font-size: 25px;
    text-decoration: none;
    color: #ff6140;
}

.rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#canvas-container {
    min-height: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    bottom: 0px;
}