* { 
    margin:0; 
    padding:0;
}

html, body {
    width: 100%; 
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

canvas { 
    display: block;
}

.splash-container {
    position: absolute;
    left: 50%;
    width: 100%;
}

.splash-pane {
    height: auto;
    min-height: 200px;
    padding: 20px;
    background-color: #ff6140;
    left: -50%;
    margin-top: 80px;
    z-index: 999;
    position: relative;
}

.splash-text {
    margin-top: 10px;
    opacity: 1;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

.splash-text p {
    margin-top: 10px;
    font-family: 'Oxygen', sans-serif;
}

.rounded-corners {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#canvas-container {
    min-height: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    bottom: 0px;
}