* { 
    margin:0; 
    padding:0;
}

html, body {
    width: 100%; 
    height: 100%;
}

canvas { 
    display: block;
}

#arrows-container {
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
}