<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu|Coda' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="/static/css/splash.css" rel="stylesheet" type="text/css">
        
	</head>
	<body>
		<div id="canvas-container"></div>
		<div class="splash-container">
			<div class="splash-pane">
				<div class="splash-text">
					<h1>ImpactArk</h1>
					<p>Explore your career opportunities and get connected with mentors.</p>
					<p><a href="https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=9zxahkmp01hw&scope=r_fullprofile%20r_network&state=jedud78e7Ehfhsk47hfjksdu47jFHs&redirect_uri=http://{{ request.META.HTTP_HOST }}/linkedin/connect/" class="btn">Connect with LinkedIn</a></p>
				</div>
			</div>
		</div>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/raphael.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script defer="defer" type="text/javascript" src="/static/js/splash-arrows.js"></script>
	</body>
</html>