<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu|Coda' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="/static/css/splash.css" rel="stylesheet" type="text/css">
        
	</head>
	<body>
		<div id="canvas-container"></div>
		<div class="splash-container">
					{% block content %}{% endblock %}
		</div>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/raphael.js"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script defer="defer" type="text/javascript" src="/static/js/splash-arrows.js"></script>
	</body>
</html>