<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu|Coda' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/static/css/choose_tags.css" rel="stylesheet" type="text/css">
        
    </head>
    <body>
        <div class="instructions-container">
            <div class="instructions-pane">
                <h1>What interests you?</h1>
                <a class="button rounded-corners" href="/splash/registered/">Continue &raquo;</a>
            </div>
        </div>
        <span class="clearfix"></span>
        <div class="tag-pane">
            <div class="tag-container" id="container">
            </div>
        </div>
        <nav id="page-nav" stype="display:none;">
            <a href="javascript:onScroll();"></a>
        </nav>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script src="/static/js/masonry.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/js/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/backbone-min.js"></script>
        <script type="text/javascript">
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            var userId = "{{ request.user.id }}";

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                crossDomain: false, // obviates need for sameOrigin test
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        <script defer="defer" type="text/javascript" src="/static/js/choose_tags_masonry.js"></script>
    </body>
</html>