{% extends 'splash/base.html' %}

{% block content %}
<div class="splash-pane">
    <div class="splash-row">
        <div class="splash-block">
            <iframe width="359" height="202" src="http://www.youtube.com/embed/IHFGV79oZH8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="splash-block">
            <div class="splash-title">
        	   <h1>OdysseyArkk</h1>
               <span class="subtitle">by arkk.co</span>
            </div>

            <p><a href="/linkedin/authenticate/" class="button rounded-corners">Connect with LinkedIn</a></p>

        </div>
    </div>
</div>
{% endblock %}