<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu|Coda' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/static/css/ark.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/static/js/require.js"></script>
        
    </head>
    <body>
        <div id="canvas-container"></div>
        {% block scripts %}{% endblock %}
    </body>
</html>