{% extends 'ark/base.html' %}


{% block scripts %}
<script type="text/template" id="info_template">
    <div>
        <p><%= variable =></p>
    </div>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/raphael.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/backbone-min.js"></script>
    <script type="text/javascript" src="/static/js/backbone.getters.setters.js"></script>
    <script defer="defer" type="text/javascript" src="/static/js/ark.js"></script>
{% endblock %}
