{% extends 'ark/base.html' %}

{% block head_css %}
    <link rel="stylesheet" href="/static/css/jquery.qtip.min.css">
{% endblock %}


{% block scripts %}
<script type="text/template" id="info-template">
    <div class="info-frame rounded-corners" id="info-<%= data.id %>">
        <div class="info-company-block">
            <h1><%= data.organization.name %></h1>
            <p><%= data.organization.description %>
            </p>
        </div>
    </div>
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/raphael.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/backbone-min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qtip.min.js"></script>
    <script defer="defer" type="text/javascript" src="/static/js/ark.js"></script>
{% endblock %}

{% block content %}
<div id="canvas-container"></div>
<div id="info-container"></div>
{% endblock %}
